[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Matsumoto Eugene
	email = yuu.mat.930@gmail.com
[safe]
	directory = %(prefix)///wsl.localhost/Ubuntu-24.04/home/desert/procon/rubb
	directory = /app
[credential]
	helper = "!f() { /app/.vscode-server/bin/42b266171e51a016313f47d0c48aca9295b9cbb2/node /tmp/vscode-remote-containers-c246a20d-0b3c-4b92-9b52-c1a2a64b891e.js git-credential-helper $*; }; f"
